// Tablets and smaller
@media (max-width: 800px) {
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 3.75rem;
    }
  }
}

@media (max-width: 550px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    // ul {
    //   margin-left: 1rem;
    // }

    li {
      padding: 1rem;
    }
  }

  #contact-b .contact-info {
    grid-template-columns: 1fr;
  }

  #contact-b {
    div {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px #555 solid;

      &:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  #contact-c h1 {
    font-size: 1.3rem;
  }

  #header {
    &-home {
      height: 10rem;
      border-bottom: 3px solid $main-color;

      .header-content {
        display: none;
      }
    }
    &-inner {
      height: 10rem;
      background-position: center center;
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          'name'
          'subject'
          'email'
          'phone'
          'message';
      }
      form .btn-dark {
        width: 100%;
      }
    }
  }
}

@media (max-width: 650px) {
  // Stack Grid Columns
  #home-a .specials,
  .items {
    grid-template-columns: 1fr;
  }

  #home {
    &-a {
      .specials div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }

  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
    .social {
      margin-left: 0.85rem;
    }
  }
  .link p {
    font-size: 2rem;
  }

  .link h2 {
    font-size: 3rem;
  }
}

// Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 4rem;
    }
  }
}

@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2.25rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
