@import 'config';
@import 'utilities';
@import 'item_grid';

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #fff;
  color: rgb(0, 54, 99);
  padding: 1rem;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 30px;
  height: 50px;
  transition: transform 0.3s;
}

#logo:hover {
  transform: scale(1.2);
}

// Typewriter
.txt-type > .txt {
  border-right: 0.2rem solid rgb(161, 161, 161);
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    font-weight: 300px;
    font-size: 1.2rem;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2m;
      }

      a {
        font-weight: 300;
      }
    }
  }

  // Header Inner
  &-inner {
    background: $bg-image no-repeat 50% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

// Specialize Section

.specials {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);

  .fas,
  .fab {
    color: $main-color;
    padding-bottom: 0.4rem;
  }
}

// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        'name email'
        'subject phone'
        'message message';
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
        border: 1px solid lightgrey;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }
    .form-container {
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 3rem;
    }
    button[type='submit'] {
      border-radius: 0;
      width: 25%;
    }
    button[type='submit']:active {
      background: rgb(173, 50, 1);
      border: none;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      max-width: 700px;
      margin: auto;
    }
  }
  &-c {
    h1 {
      text-align: center;
      font-size: 1.5rem;
      color: #333;
    }
  }
}

// Footer
#main-footer {
  background: #104270;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social a {
      color: #fff;
    }

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }
  }
}

// Import media queries
@import 'media';

.karray {
  transform: scale(1.6);
}

.klogo {
  transform: scale(1.2);
}

.contact-title {
  margin-top: 3rem;
}
